<web-app xmlns="http://java.sun.com/xml/ns/j2ee">

    <servlet>
        <servlet-name>WelcomeFileList</servlet-name>
        <servlet-class>ServletFile</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>WelcomeFileList</servlet-name>
        <url-pattern>/userAccount</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>Welcome.html</welcome-file>
        <welcome-file>Default.html</welcome-file>
    </welcome-file-list>
</web-app>