<web-app xmlns="http://java.sun.com/xml/ns/j2ee">
    <servlet>
        <servlet-name>LoginValidationServlet</servlet-name>
        <servlet-class>LoginValidationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WelcomePageServlet</servlet-name>
        <servlet-class>WelcomePageServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LoginValidationServlet</servlet-name>
        <url-pattern>/login_validation_page</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WelcomePageServlet</servlet-name>
        <url-pattern>/welcome_page</url-pattern>
    </servlet-mapping>
</web-app>